

.dataframe {
  font-family: 'Source Sans Pro', sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin:auto;
}

.dataframe td{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}


.dataframe tr:hover {background-color: #ddd;}

.dataframe th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #27aae1;
  color: white;
  font-family: 'Montserrat', sans-serif;
}



.greenclass {
    color: green;
  }
  
  .redclass {
    color: red;
  }